@font-face {
    font-family: 'SegoeRegular';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/SegoeUIRegular.woff);
}
    
@font-face {
    font-family: 'SegoeBold';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/SegoeUIBold.woff);
}
    

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'SegoeRegular';
}
